.site
  margin: 1em auto
  width: $width-fixed

.posts
  list-style-type: none
  padding: 0
  li
    position: relative
    span
      position: absolute
      right: 0
      top: 0
    a
      text-decoration: none
      &:link, &:visited
        color: $black
      &:hover, &:active
        color: $grey

.categories
  list-style: none
  text-align: center
  border-top: 6px double $black
  border-bottom: 6px double $black
  padding: .5em 0
  margin-bottom: 2em
  li
    display: inline
    margin: 0 2em
  a
    text-decoration: none
    &:hover, &:active
      color: $grey
