// fonts
@import 'http://fonts.googleapis.com/css?family=Ribeye'
$ribeye: 'Ribeye', cursive
$georgia: Georgia, sans-serif

$body-font: $georgia
$heading: $ribeye

// color palette
$white: #fff
$black: #060606
$grey: #C4C0B5


// length
$width-fixed: 750px
